.box1 {
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    border: 2px solid black;
}

.box2 {
    height: 20px;
    width: 20px;
    background-color: crimson;
    border: 2px solid black;
}

/* position examples below */
.box1 {
    /* position: static; */
     /* position: relative;  */
    /* position: fixed;  */
    position: sticky;
    top: 0;

}

.box2 {
    position: absolute;
    top: 50px;
}

#navBar {
    position: sticky;
    top: 10px;
}

.box3 {
    height: 200px;
    width: 200px;
    background-color: powderblue;
    border: 2px solid black;
    position: absolute;
    top: 50px;
    left: 500px;
    right: 500px;
}